*{
    font-family: 'Poppins', sans-serif;
}
.nav-btn{
    color: #279add;
    border: 2px solid #289BDE;
}
.carousel-image{
    filter: brightness(50%);
}
.carousel-title{
    font-size: 4vw;
}
.carousel-text{
    font-size: 1.5vw;
}
.btn-style{
    background-color: #279add;
    color: white;
}
.course{
    margin-top: 100px;
}
.couse-overview{
    width: 70%;
    margin-bottom: 50px;
}
.price{
    color: #279add;
}
.review{
    margin: 100px 0;
}
