*{
    font-family: 'Poppins', sans-serif;
}
.nav-btn{
    color: #279add;
    border: 2px solid #289BDE;
}
.carousel-image{
    filter: brightness(50%);
}
.carousel-title{
    font-size: 4vw;
}
.carousel-text{
    font-size: 1.5vw;
}
.btn-style{
    font-size: 2vw;
    background-color: #279add;
    color: white;
}
.course,.feedback{
    margin-top: 130px;
}
.text-color{
    color: #777777;
}
.price{
    color: #279add;
}
.bg-explore{
    background-color: #F4FAFD;
}
.review{
    margin: 130px 0;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.explore-title{
    font-size: 3vw;
}
.register-section{
    padding: 80px 100px;
    background-color: #289BDE;
}
.register-btn{
    color:#279add;
}
.student{
    margin-top: 130px;
    margin-bottom: 50px;
}
.star{
    color: #fcde7d;
}
.prev-btn, .next-btn{
    position: relative;
    background-color: #289BDE;
    padding: 0 15px;
}
.prev-btn{
    left: -96px;
}
.next-btn{
    right: -96px;
}
.accordion-button:focus{
    background-color: #289bde1a;
}
.footer-section{
    margin-top: 50px;
    padding: 10% 0;
    background-color: #161616;
}
.footer-icon:hover i{
    color: black;
}
